In [3]:
import pandas as pd

In [8]:
df = pd.read_csv("Yala Locations Cordinations.csv")
df

              Location  Longitude   Latitude
0     Jamburugala Wewa   6.320904  81.425798
1        Wilapara Wewa   6.299661  81.440434
2         Buthawa Wewa   6.335583  81.475615
3       Gollukada Wewa   6.352132  81.442243
4            Koma Wewa   6.378151  81.491320
5           Wewa(Tank)   6.390023  81.469357
6      Situlpawwa Wewa   6.387170  81.450482
7  Gerimus Pokuna Wewa   6.397734  81.433959

In [15]:
import geopy